html {
  font-size: 13px;
}
.header {
  background-color: #2d4a22;
  height: 100px;
  color: white;
  text-align: center;
  padding-top: 25px;
}

#txtCad {
  color: #2d4a22;
  text-shadow: 1px 1px grey;
}
.formCaad {
  margin: 2rem 0 0 2rem;
  width: 30%;
  position: absolute;
}

input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 1px 1px rgb(12, 104, 39);
}

.imgstyle {
  position: relative;
  margin: 10em 0 0 40em;
}

#imgFin {
  width: 100%;
  height: 500px;
}

fieldset {
  border-radius: 25px;
  padding: 50px;
  border: solid 3px;
}

legend {
  font-weight: bold;
  padding: 0 10px 0 10px;
  text-align: center;
  font-size: 20px;
  color: #2d4a22;
}

#itemsWrapper {
  width: 100%;
  margin-top: 200px;
}

#items {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
}
.item {
  flex: none;
  scroll-snap-align: start;
  pointer-events: none;
}
#items img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@media (max-width: 1366px) {
  .imgstyle {
      margin-left: 550px;
      width: 55%;
  }
}